<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chc.chps.mapper.RockUserMapper">
	<insert id="insertUser" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="element" index="index">
			INTO ROCK_USER (ID,USERNAME,PASSWORD) values (#{element.id},#{element.username},#{element.password})
		</foreach>
		 SELECT * FROM DUAL
	</insert>
</mapper>